.price-list {
    background-color: #f8f9fa;
  }
  
  .card {
    border: none;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .card h4 {
    color: #d63384;
  }
  
  .nav-pills .nav-link.active {
    background-color: #d63384;
  }

  .detail-content {
    display: none;
    padding: 10px;
    background: #f8f9fa;
    border-top: 1px solid #ddd;
    margin-top: 10px;
    border-radius: 5px;
  }
  
  
  